click==6.6
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.2.1
numpy==1.11.1
Pillow==3.3.0
PyBrain==0.3.1
scikit-learn==0.17.1
scipy==0.17.1
sklearn==0.0
uWSGI==2.0.13.1
Werkzeug==0.11.10
